<router-outlet></router-outlet>
<!-- 
<div class="navbar">
  <ul class="nav-list">
    <li><a href="#home" (click)="smoothScroll('home') class="smooth-scroll">Home</a></li>
    <li><a href="#about" (click)="smoothScroll('about)  class="smooth-scroll">About</a></li>
    <li><a href="#service" (click)="smoothScroll('service')  class="smooth-scroll">Service</a></li>
    <li><a href="#works" (click)="smoothScroll('works')  class="smooth-scroll">Works</a></li>
    <li><a href="#contact" (click)="smoothScroll('contact')  class="smooth-scroll">Contact</a></li>
  </ul>
</div>

<main>
  <section id="home">
    <app-home></app-home>
  </section>
  
  <section id="about">
    <app-about></app-about>
  </section>
  
  <section id="service">
    <app-service></app-service>
  </section>
  
  <section id="works">
    <app-works></app-works>
  </section>
  
  <section id="contact">
    <app-contact></app-contact>
  </section>
</main> -->
