<div  id="about" class="container mx-auto px-4 py-8">
    <h2 class="text-3xl font-bold mb-4">ABOUT</h2>

    <p class="text-lg leading-relaxed mb-6">
        Hi, I'm FD Ali Jee. I'm a "UI/UX Designer" with a passion for creating intuitive, engaging digital experiences. 
        With 3 years of experience in design, I focus on combining user-centered research with innovative design principles 
        to bring ideas to life. My approach is rooted in empathy and functionality, aiming to craft products that are not only 
        visually appealing but also impactful and accessible.
    </p>

    <p class="text-lg leading-relaxed">
        When I'm not designing, I enjoy reading novels, stories, etc. I'm always excited to explore new tools, trends, and techniques 
        to push the boundaries of digital design.

    </p>
</div>